<div class="bg-sky-100 text-center rounded mb-4">
    <h1 class="text-3xl p-4">Tools</h1>
</div>

<%= form_with url: "", method: :get do |form| %>
    <%= form.hidden_field :page, value: params[:page] %>
    Show <%= form.select :count, options_for_select([10, 25, 50, 100], selected: params[:count]), {}, { onchange: "this.form.requestSubmit()" } %>
<% end %>
<div id="tools">
    <%= render @tools %>
</div>

<%== pagy_nav @pagy %>