<div class="flex justify-center">
    <%= form_with(model: @setting, local: true) do |form| %>
        <div class="flex justify-start mb-4">
            <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-4">
                <%= link_to "Back", setting_path(@setting) %>
            </div>
            <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-4">
                <%= form.submit "Save" %>
            </div>
            <div class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
              <%= link_to "Delete", @setting, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            </div>
        </div>
        <h2 class="block text-gray-700 text-902xl font-bold mb-4">Main</h2>
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4 max-w-2xl mx-auto mb-4">
            <div class="mb-4">
                <%= form.label :technician_id, "Technician", class: "block text-gray-700 text-sm font-bold mb-2" %>
                <%= form.select :technician_id, options_for_select(Technician.all.map { |s| ["#{s.first_name} #{s.last_name}", s.id] }, form.object.technician_id), {}, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
            </div>
            <div class="mb-4">
                <%= form.label :machine_id, "Machine", class: "block text-gray-700 text-sm font-bold mb-2" %>
                <%= form.select :machine_id, options_from_collection_for_select(Machine.all, 'id', 'machine_name', form.object.machine_id), { prompt: 'Select a machine' }, class: "shadow appearance-none border rounded w-48 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>            </div>
            </div>
        <h2 class="blcok text-gray-700 text-2xl font-bold mb-4">Temperatures</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 max-w-2xl mx-auto">
            <% @setting.attributes.keys.each do |attr_name| %>
                <% attr_info = @setting.column_for_attribute(attr_name) %>
                <% if attr_name.include?('temp') && !%w[id technician_id created_at updated_at site_id machine_id technicians_rating technicians_comments tool_id].include?(attr_name) %>
                    <div class="mb-4">
                        <%= form.label attr_name.gsub(/(?<=\D)(\d)/, ' \1')
                        .gsub(/\bmh\b/i, 'MH')
                        .gsub(/\bfh\b/i, 'FH')
                        .gsub(/\bhr\b/i, 'HR'),
                        class: "block text-gray-700 text-sm font-bold mb-2" %>
                        <% case attr_info.type %>
                        <% when :string, :text %>
                            <%= form.text_field attr_name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
                        <% when :integer, :float, :decimal %>
                            <%= form.number_field attr_name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
                        <% when :boolean %>
                            <%= form.check_box attr_name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
                        <% end %>
                    </div>
                <% end %>
            <% end %>
        </div>

        <div class="group">
            <h2 class="block text-gray-700 text-2xl font-bold mb-4 mt-4">Other</h2>
            <% @setting.attributes.keys.each do |attr_name| %>
                <% attr_info = @setting.column_for_attribute(attr_name) %>
                <% if !attr_name.include?('temp') && !%w[id technician_id created_at updated_at site_id machine_id technicians_rating technicians_comments tool_id].include?(attr_name) %>
                    <div class="mb-4">
                        <%= form.label attr_name.titleize, class: "block text-gray-700 text-sm font-bold mb-2" %>
                        <% case attr_info.type %>
                        <% when :string, :text %>
                            <%= form.text_field attr_name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
                        <% when :integer, :float, :decimal %>
                            <%= form.number_field attr_name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
                        <% when :boolean %>
                            <%= form.check_box attr_name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
                        <% end %>
                    </div>
                <% end %>
            <% end %>
        </div>
        <div class="grid grid-cols-1 gap-4 max-w-2xl mx-auto mt-4">
            <div class="mb-4">
                <%= form.label :technicians_rating, "Rating (1 - 5)", class: "block text-gray-700 text-sm font-bold mb-2" %>
                <%= form.number_field :technicians_rating, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
            </div>
            <div class="mb-4">
                <%= form.label :technicians_comments, "Comments", class: "block text-gray-700 text-sm font-bold mb-2" %>
                <%= form.text_area :technicians_comments, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
            </div>
        </div>
    <% end %>
</div>
<div>

</div>
