<div class="w-320 mt-24">
    <table class="table-auto">
        <thead>
            <tr>
                <th class="pr-32">Setting</th>
                <th class="pr-24">Tool</th>
                <th class="pr-24">Machine</th>
                <th class="pr-24">Site</th>
            </tr>
        </thead>
        <tbody>
            <% @settings.each do |setting| %>
                <tr class="hover:underline cursor-pointer" onclick="window.location='<%= setting_path(setting) %>'">
                    <td><%= setting.id %></td>
                    <td><%= Tool.find(setting.id).tool_name %></td>
                    <td><%= Machine.find(setting.id).machine_name %></td>
                    <td><%= setting.machine.site.site_name %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>