<div class="container mx-auto">
    
    <div class="bg-sky-100 text-center rounded mb-4">
        <h1 class="text-3xl p-4">Settings</h1>
    </div>
    <%= link_to new_setting_path do %>
        <div class="font-bold bg-blue-500 text-white w-28 text-center py-1 rounded mb-4">
            <p>Create</p>
        </div>
    <% end %>
    <div class="">
        <%= search_form_for @q, data: {turbo_frame: :results} do |f| %>
            <div class="flex align-middle gap-4">
                <div>
                    <%= f.label "Tool name:" %>
                    <%= f.search_field :tool_name_cont, oninput: 'this.form.requestSubmit();', class: "ml-4 shadow appearance-none border rounded w-1/2 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
                </div>
                <div class="font-bold bg-blue-500 text-white w-28 text-center py-2 rounded mb-4">
                    <%= f.submit %>
                </div>
                <div class="font-bold bg-red-500 text-white w-28 text-center py-2 rounded mb-4">
                    <%= link_to "Clear", settings_path %>
                </div>
            </div>
        <% end %>
    </div>
    <%= turbo_frame_tag :results do %>
    <div class="overflow-x-auto bg-white rounded-lg shadow overflow-y-auto relative mb-4">
            <table class="border-collapse table-auto w-full whitespace-no-wrap bg-white table-striped relative">
                <thead>
                    <tr class="text-left">
                        <th class="bg-blue-100 sticky top-0 p-2 border-b border-gray-200"><%= sort_link(@q, :tool_id, default_order: :desc) %></th>
                        <th class="bg-blue-100 sticky top-0 p-2 border-b border-gray-200"><%= sort_link(@q, :machine_id, default_order: :asc) %></th>
                        <th class="bg-blue-100 sticky top-0 p-2 border-b border-gray-200">Process</th>
                        <th class="bg-blue-100 sticky top-0 p-2 border-b border-gray-200">Site</th>
                        <th class="bg-blue-100 sticky top-0 p-2 border-b border-gray-200">Versions</th>
                        <th class="bg-blue-100 sticky top-0 p-2 border-b border-gray-200"><%= sort_link(@q, :created_at, default_order: :desc) %></th>
                    </tr>
                </thead>
                <tbody>
                    <% @settings.each do |setting| %>
                        <tr class="hover:bg-gray-100 cursor-pointer" data-controller="settings-table-row" data-action="click->settings-table-row#goToSetting" data-settings-table-row-setting-url-value="<%= setting_path(setting) %>">
                            <td class="p-2 border-b border-gray-200">
                                <%= highlight setting.tool.name, params.dig(:q, :tool_name_cont) %>
                            </td>
                            <td class="p-2 border-b border-gray-200">
                                <%= setting.machine.machine_name %>
                            </td>
                            <td class="p-2 border-b border-gray-200">
                                <% if setting.machine.machine_type == "Injection Moulding Machine" %>
                                    Moulding
                                <% elsif setting.machine.machine_type == "Extrusion Line" %>
                                    Extrusion
                                <% end %>
                            </td>
                            <td class="p-2 border-b border-gray-200">
                                <%= setting.machine.site.site_name %>
                            </td>
                            <td class="p-2 border-b border-gray-200">
                                <%= setting.versions.count %>
                            </td>
                            <td class="p-2 border-b border-gray-200">
                                <%= setting.created_at.strftime("%d/%m/%Y") %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <%== pagy_nav(@pagy) %>
    <% end %>
</div>
