<h1 class="mb-4 text-2xl font-bold">Versions</h1>

<%= link_to 'Back', setting_path(@setting), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-4" %>

<div class="overflow-x-auto bg-white rounded-lg shadow overflow-y-auto relative mb-4 mt-4">
    <table class="border-collapse table-auto w-full whitespace-no-wrap bg-white table-striped relative">
        <thead>
            <tr class="text-left">
                <th class="bg-blue-100 sticky top-0 p-2 border-b border-gray-200">ID</th>
                <th class="bg-blue-100 sticky top-0 p-2 border-b border-gray-200">Type</th>
                <th class="bg-blue-100 sticky top-0 p-2 border-b border-gray-200">Event</th>
                <th class="bg-blue-100 sticky top-0 p-2 border-b border-gray-200">Who</th>
                <th class="bg-blue-100 sticky top-0 p-2 border-b border-gray-200">Version no.</th>
            </tr>
        </thead>
        <tbody>
            <% @versions.each do |version| %>
                <tr class="hover:bg-gray-100 cursor-pointer" data-controller="version-table-row" data-action="click->version-table-row#goToVersion" data-version-table-row-version-url-value="<%= setting_version_path(@setting, version) %>">
                    <td class="p-2 border-b border-gray-200"><%= version.id %></td>
                    <td class="p-2 border-b border-gray-200"><%= version.item_type %></td>
                    <td class="p-2 border-b border-gray-200"><%= version.event.capitalize %></td>
                    <% if version.whodunnit.present? %>
                        <td class="p-2 border-b border-gray-200"><%= User.find(version.whodunnit).first_name %> <%= User.find(version.whodunnit).last_name %></td>
                    <% else %>
                        <td class="p-2 border-b border-gray-200"></td>
                    <% end %>
                    <td class="p-2 border-b border-gray-200"><%= version.index + 1 %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
