<h1 class="text-2xl font-bold"><%= @setting.tool.tool_name %></h1>
<h1>Version number: <%= @version.index + 1 %></h1>
<h1>Created: <%= @version.created_at.strftime("%B %d, %Y %H:%M") %></h1>
<h1>Updated by: <%= @setting.technician.first_name %> <%= @setting.technician.last_name %></h1>
<h1>Event: <%= @version.event.capitalize %></h1>

<div class="flex justify-center">
    <div class="p-4 bg-white rounded shadow border w-9/12">
        <% @version_hash.each do |key, value| %>
            <% if key == "technician_id" %>
                <div class="flex justify-between border-b py-2">
                    <strong><%= key.humanize %>:</strong>
                    <span><%= Technician.find(value).first_name %> <%= Technician.find(value).last_name %></span>
                </div>
            <% else %>
                <div class="flex justify-between border-b py-2">
                    <strong><%= key.humanize %>:</strong>
                    <span><%= value %></span>
                </div>
            <% end %>
        <% end %>
    </div>
</div>