<div class="flex justify-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mb-6">
      <%= f.label :email, class: "text-gray-700 text-sm font-bold" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-96 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
  
    <div class="mb-6">
      <%= f.label :password, class: "text-gray-700 text-sm font-bold" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "shadow appearance-none border rounded w-96 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
  
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
  
    <div class="flex justify-center space-x-4 mt-4">
      <div class="bg-blue-400 text-white w-24 h-12 flex items-center justify-center rounded">
        <%= f.submit "Log in" %>
      </div>
      <%= link_to new_user_registration_path do %>
        <div class="bg-blue-400 text-white w-24 h-12 flex items-center justify-center rounded">
          <p>Sign up</p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>