<div>
    <div class="bg-sky-100 text-center rounded mb-4">
        <h1 class="text-3xl p-4">Feedback</h1>
    </div>
    <div class="bg-blue-500 text-white w-36 text-center py-1 rounded mb-4">
        <%= link_to 'Add feedback', new_feedback_path %>
    </div>
    <div class="overflow-x-auto bg-white rounded-lg shadow overflow-y-auto relative mb-4">
        <table class="border-collapse table-auto w-full whitespace-no-wrap bg-white table-striped relative">
            <thead>
                <tr class="text-left">
                    <th class="bg-blue-100 sticky top-0 p-2 border-b border-gray-200">ID</th>
                    <th class="bg-blue-100 sticky top-0 p-2 border-b border-gray-200">User</th>
                    <th class="bg-blue-100 sticky top-0 p-2 border-b border-gray-200">Comment</th>
                    <th class="bg-blue-100 sticky top-0 p-2 border-b border-gray-200">Status</th>
                </tr>
            </thead>
            <tbody>
                <% @feedbacks.each do |feedback| %>
                    <tr class="hover:bg-gray-100 cursor-pointer" data-controller="feedback-table-row" data-action="click->feedback-table-row#goToFeedback" data-feedback-table-row-feedback-url-value="<%= feedback_path(feedback.id) %>">
                        <td class="p-2 border-b border-gray-200"><%= feedback.id %></td>
                        <td class="p-2 border-b border-gray-200"><%= feedback.user.email %></td>
                        <td class="p-2 border-b border-gray-200"><%= feedback.content %></td>
                        <td class="p-2 border-b border-gray-200"><%= feedback.status %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
