<!DOCTYPE html>
<html>
  <head>
    <title>ProcessSettingsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="flex justify-center border-b-2 py-4 mx-auto px-4 max-w-7xl">
      <div class="mr-12 mt-2">
        <%= image_tag("Goodfish-MAKING-Logo-3-Transparent-BK-Ground.png", alt: "goodfish-logo", style: "height: 48px") %>
      </div>
      <div class="mb-4">
        <ul class="list-none flex">
          <li class="mr-4 ml-4 bg-sky-100 p-4 w-36 text-center rounded-md border border-transparent hover:border-blue-500 transition ease-in-out duration-200"><%= link_to 'Home', root_path %></li>
          <li class="mr-4 ml-4 bg-sky-100 p-4 w-36 text-center rounded-md border border-transparent hover:border-blue-500 transition ease-in-out duration-200"><%= link_to 'Sites', sites_path %></li>
          <li class="mr-4 ml-4 bg-sky-100 p-4 w-36 text-center rounded-md border border-transparent hover:border-blue-500 transition ease-in-out duration-200"><%= link_to 'Machines', machines_path %></li>
          <li class="mr-4 ml-4 bg-sky-100 p-4 w-36 text-center rounded-md border border-transparent hover:border-blue-500 transition ease-in-out duration-200"><%= link_to 'Tools', tools_path %></li>
          <li class="mr-4 ml-4 bg-sky-100 p-4 w-36 text-center rounded-md border border-transparent hover:border-blue-500 transition ease-in-out duration-200"><%= link_to 'Settings', settings_path %></li>
        </ul>
      </div>
    </nav>
    <main class="mt-24 mx-auto px-4 max-w-7xl">
      <%= yield %>
    </main>
  </body>
</html>
