<!DOCTYPE html>
<html>
  <head>
    <title>ProcessSettingsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="flex justify-between mt-10 ml-12 mr-12">
    <div >
      <%#= link_to 'Goodfish Settings', root_path %>
      <ul class="list-none">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Sites', sites_path %></li>
      </ul>
    </div>

  </nav>
    <main class="container mt-24 ml-24">
      <%= yield %>
    </main>
  </body>
</html>
